//
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: #666;
    span {
        background: rgba(226,226,226,0.2);
        position: relative;
        top: 2px;
        width: 1px;
        height: 20px;
    }
    li {
        list-style: none;
    }
}

.spa-link {
    color: #fff;
    background: rgb(33,33,33);
    display: inline-block;
    position: relative;
    transition: .3s;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
}

.spa-link:hover {
    color: #696969;
}

.burger {
    display: none;
    .burger-line {
        transition: all 300ms 0s ease;
    }
}

.nav-slider {
    display: none;
}
.nav-slider li {
    text-align: center;
    list-style: none;
}

.container {
    z-index: -1;
    &__wrap {
        position: relative;
        width: 100%;
    }
}

.contents {
    &__wrap {
        width: 70%;
        margin: 0 auto;
    }
}

.form-textarea {
    border: 1px #ccc solid;
    width: 100%;
    height: 100px;
    min-width: 50%;
    max-width: 100%;
    font-size: 16px;
    box-shadow: 0 0 1px #ccc;
    &:hover {
        background-color: #fefefe;
        box-shadow: 0 0 5px #ccc;
    }
}
.form-group {
    .form-title {
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 20px;
    }
}
.spacer-text {
    &.l1 {
        padding-left: 2px;
    }
    &.l2 {
        padding-left: 4px;
    }

    &.t2 {
        padding-top: 4px;
    }

    &.b2 {
        padding-bottom: 4px;
    }
}
.cheering-form {
    margin-top: 15px;
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 40%;
    }
}

@media screen and (max-width:800px) {
    .nav-links {
        position: absolute;
            right: -100%;
            height: 72vh;
            top: 15vh;
            background: rgba(33,33,33,1);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        background: rgba(33,33,33,1);
        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: rgb(226,226,226);
            margin: 4px;
        }

        &.active {

            .burger-line {
                &:nth-of-type(1){
                    top: 0;
                    width: 25px;
                    transform: translateY(5px) rotate(-45deg);
                    transition: all 300ms 0s ease;
                }
                &:nth-of-type(2){
                    opacity: 0;
                }
                &:nth-of-type(3){
                    top: 0;
                    width: 25px;
                    transform: translateY(-10px) rotate(45deg);
                    transition: all 300ms 0s ease;
                }
            }
        }
    }
    .nav-slider {
        background: rgba(33,33,33,1);
        display: block;
        position: absolute;
        top: 50px;
        height: 100vh;
        width: 40%;
        right: -100%;
        transform: translateX(100%);
        transition: 1s ease;
        z-index: 2;
    }
    .nav-slider {
        &.active {
            transition: .8s ease;
            transform: translateX(0%);
            right: 0;
        }
        .slider-spa-link {
            background: rgba(33,33,33,1);
            padding: 10px;
        }
        .slider-spa-link li {
            display: inline-block;
            width: 100%;
        }
        .slider-spa-link a {
            background: rgba(33,33,33,1);
            display: block;
            color: white;
            text-decoration: none;
            transition: .3s;
        }
        .slider-spa-link a:hover {
            color: #696969;
            width: 100%;
        }
    }

}

@keyframes navLinkFace {
    form {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
