.liner {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: $darkToneColor;
    height: 1px;
    &.color {
        &__silver {
            border-color: #ccc;
        }
    }
}