/* コンテンツ位置 */
.block {
    &-left {
    }
    &-center {
        margin: 0 auto;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}

.valign {
    &-middle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
}

/* フォントサイズ */
.headline {
    font-family: "新丸ゴ";
    font-size: 28px;
}
.sub-title {
    &-2 {
        font-family: "新丸ゴ";
        font-size: 24px;
        letter-spacing: 0.2rem;
    }
}
@for $i from 1 through 40 {
    .text-size-#{$i} { font-size: $i#{'px'} }
}

/* テキスト位置 */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.line-height-normal {
    line-height: 1.8rem;
}

/* margin */
@for $i from 1 through 50 {
    .ma-#{$i} { margin: 0 + $i#{'px'}; }
    .my-#{$i} {
        margin-top: 0 + $i#{'px'};
        margin-bottom: 0 + $i#{'px'};
    }
    .mx-#{$i} {
        margin-left: 0 + $i#{'px'};
        margin-right: 0 + $i#{'px'};
    }
    .mt-#{$i} { margin-top: 0 + $i#{'px'}; }
    .ml-#{$i} { margin-left: 0 + $i#{'px'}; }
    .mr-#{$i} { margin-right: 0 + $i#{'px'}; }
    .mb-#{$i} { margin-bottom: 0 + $i#{'px'}; }
}

/* padding */
@for $i from 0 through 50 {
    .pa-#{$i} { padding: 0 + $i#{'px'}; }
    .py-#{$i} {
        padding-top: 0 + $i#{'px'};
        padding-bottom: 0 + $i#{'px'};
    }
    .px-#{$i} {
        padding-left: 0 + $i#{'px'};
        padding-right: 0 + $i#{'px'};
    }
    .pt-#{$i} { padding-top: 0 + $i#{'px'}; }
    .pl-#{$i} { padding-left: 0 + $i#{'px'}; }
    .pr-#{$i} { padding-right: 0 + $i#{'px'}; }
    .pb-#{$i} { padding-bottom: 0 + $i#{'px'}; }
}

/* 背景色 */
.bg {
    &-light-gray {
        background-color: #d3d3d3;
    }
    &-dark {
        color: #fff;
        background-color: $darkToneColor;
    }
}