* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
    height: 50px;
    background: rgba(33,33,33,1);
    font-family: 'Poppins', sans-serif;;
    box-shadow: 0 0 5px 0 #999;
}

.logo {
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}

.spa-link {
    color: #fff;
    display: inline-block;
    position: relative;
    transition: .3s;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
}

.spa-link:hover {
    color: #696969;
}

.burger {
    display: none;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 4px;
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 600px;
    }
}

@media screen and (max-width:748px){
    body{
        display: none;
    }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
