@mixin container($width: 90%) {
    z-index: -1;
    width: 100%;
    &__wrap {
        width: $width;
        margin: 0 auto;
    }
}

//Desktop
@include desktop {
    .container {
        @include container();
    }
}

//Tablet
@include tablet {
    .container {
        @include container(80%);
    }
}

//Mobile
@include mobile {
    .container {
        @include container();
    }
}