@mixin container($wrapWidth: 90%) {
    z-index: -1;
    width: 100%;
    margin-top: 55px;
    &__wrap {
        &.fluid {
            width: $wrapWidth;
        }
        margin: 0 auto;
    }
}

//Desktop
@include desktop {
    .container {
        @include container();
    }
}

//Tablet
@include tablet {
    .container {
        @include container(95%);
    }
}

//Mobile
@include mobile {
    .container {
        @include container(95%);
    }
}