//local mixin
@mixin nav($height: 50px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-width: 100%;
    transition: 1s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height;
    background-color: $darkToneColor;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 5px #999;
}

@mixin logo($fontSize: 18px) {
    margin-left: 45px;
    color: $lightToneColor;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: $fontSize;
    &__title {
        text-align: center;
    }
}

@mixin link($width: 35%) {
    display: flex;
    justify-content: space-around;
    width: $width;
    color: #666;
    span {
        background: rgba(226,226,226,0.2);
        position: relative;
        top: 2px;
        width: 1px;
        height: 20px;
    }
    li {
        list-style: none;
        a {
            color: #fff;
            display: inline-block;
            position: relative;
            transition: .3s;
            text-decoration: none;
            letter-spacing: 1px;
            font-weight: normal;
            font-size: 14px;
            padding-left: 10px;
            padding-right: 10px;
            &:hover {
                color: #696969;
                padding-bottom: 2px;
                border-bottom: 2px #ccc solid;
            }
        }
    }
}

@mixin slider($topPosition: 50px) {
    display: block;
    position: absolute;
    top: $topPosition;
    height: 100vh;
    width: 100%;
    right: -100%;
    transform: translateX(100%);
    transition: 1s ease;
    z-index: 2;
    background-color: $darkToneColor;
    &.active {
        transition: .8s ease;
        transform: translateX(0%);
        right: 0;
    }
    li {
        text-align: center;
        list-style: none;
        display: inline-block;
        width: 100%;
        a {
            display: block;
            color: white;
            text-decoration: none;
            transition: .3s;
            height: auto;
            padding: 10px;
        }
        a:hover {
            background-color: $lightToneColor;
            color: #696969;
        }
    }
}

@keyframes navLinkFace {
    form {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

//Desktop
@include desktop {
    .nav {
        @include nav();
        &__logo {
            @include logo();
        }
        &__link {
            @include link();
        }
        &__burger {
            display: none;
        }
        &__slider {
            display: none;
        }
    }
    .has_smaller {
        @include nav(30px);
    }
}

//Tablet
@include tablet {
    .nav {
        @include nav();
        &__logo {
            @include logo();
        }
        &__link {
            @include link(50%);
        }
        &__burger {
            display: none;
        }
        &__slider {
            display: none;
        }
    }
    .has_smaller {
        @include nav(30px);
    }
}

//Mobile
@include mobile {
    .nav {
        @include nav(40px);
        &__logo {
            @include logo();
        }
        &__link {
            display: none;
        }
        &__burger {
            display: block;
            cursor: pointer;
            margin-right: 45px;
            span {
                display: block;
                width: 25px;
                height: 3px;
                background-color: $lightToneColor;
                margin: 4px;
            }

            &.active {
                .burger-line {
                    &:nth-of-type(1){
                        top: 0;
                        width: 25px;
                        transform: translateY(5px) rotate(-45deg);
                        transition: all 300ms 0s ease;
                    }
                    &:nth-of-type(2){
                        opacity: 0;
                    }
                    &:nth-of-type(3){
                        top: 0;
                        width: 25px;
                        transform: translateY(-9px) rotate(45deg);
                        transition: all 300ms 0s ease;
                    }
                }
            }
        }
        &__slider {
            @include slider(40px);
        }
    }
}