@mixin aboutContent($fontSize: 15px) {
    dl,dt,dd {
        width: 100%;
    }
    .certificate__table {
        &__head {
            font-size: $fontSize;
            background-color: $darkToneColor;
            border: 1px #ccc solid;
            color: #fff;
        }
        &__body {
            font-size: $fontSize;
            background: rgba(0, 0, 0, 0.1);
        }
        dl {
            display: flex;
            width: 100%;
        }
        dd {
            padding-top: 15px;
            padding-bottom: 15px;
            &:nth-child(1) {
                width: 60%;
                border-right: 1px $lightToneColor solid;
            }
            &:nth-child(2) {
                width: 20%;
                border-right: 1px $lightToneColor solid;
            }
            &:nth-child(3) {
                width: 20%;
            }
        }
    }
}



//Desktop
@include desktop {
    .about-content {
        @include aboutContent();
    }
}

//Tablet
@include tablet {
    .about-content {
        @include aboutContent();
    }
}

//Mobile
@include mobile {
    .about-content {
        @include aboutContent(12px);
    }
}