.chart-bar{
  position: relative;
  width: 100%;
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
  &__info{
    border-radius: 5px;
    padding: 0.75rem;
    width: 0%;
    position: relative;
    transition: width 3.3s ease-in-out;
    .percent{
        float: right;
    }
  }
  &__bg {
    &-gray {
        background: linear-gradient(#9f9f9f, #5f5f5f),#9f9f9f;
        color: #fff;
    }
    &-light-blue {
        background: linear-gradient(#7295b8, #385572),#7295b8;
        color: #fff;
    }
}
}