@mixin button() {
    padding: 10px;
    font-size: 12px;
    &.dark {
        color: white;
        background-color: $darkToneColor;
    }
    &.animation {
        //animation: anime1 5s ease -2s infinite alternate;
    }

    @for $i from 1 through 100 {
        &.w-#{$i} { width: #{$i}#{'%'} };
    }

    @for $i from 1 through 100 {
        &.h-#{$i} { height: #{$i}#{'%'} };
    }

}

//Desktop
@include desktop {
    .btn {
        @include button();
    }
}

//Tablet
@include tablet {
    .btn {
        @include button();
    }
}

//Mobile
@include mobile {
    .btn {
        @include button();
    }
}