.card {
    width: 100%;
    max-width: 440px;
    &__wrap {
        margin: 20px;
        background-color: #ddd;
        box-shadow: 0 0 2px #ccc;
        border-radius: 20px;
        padding-top: 5px;
        padding-bottom: 5px;

        a {
            display: block;
            text-decoration: none;
        }

        .card-content {
            height: auto;
            width: 90%;
            margin: 0 auto;
            &__title {
                text-align: center;
                font-size: 24px;
                padding-top: 35px;
                padding-bottom: 15px;
                height: auto;
            }

            &__image {
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                height: 84px;
            }

            &__subtitle {
                width: 90%;
                margin: 0 auto;
                border: 1px #ccc solid;
                background-color: #fff;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 7px;
                padding-right: 7px;
                box-sizing: inherit;
                box-shadow: 0 0 1px #ddd;
                p {
                    padding-top: 3px;
                    padding-bottom: 3px;
                    height: 25px;
                    font-size: 13px;
                }
            }

        }

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }

    }

}