.card {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    &__wrap {
        background-color: #fff;
        box-shadow: 0 0 2px #ccc;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;

        .card-content {
            height: auto;
            min-width: 180px;
            margin: 0 auto;

            &__title {
                font-size: 16px;
                height: 25px;
                line-height: normal;
            }

            &__image {
                text-align: center;
            }

        }
    }

}