.card {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    &__wrap {
        background-color: #fff;
        box-shadow: 0 0 2px #ccc;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;

        .card-content {
            height: auto;
            min-width: 180px;
            margin: 0 auto;

            &__title {
                font-size: 16px;
                height: 25px;
                line-height: normal;
            }

            &__image {
                text-align: center;
                overflow:hidden;
                img {
                    transition:0.1s all;
                }
                img:hover {
                    opacity: 0.6;
                    transform:scale(1.2,1.2);
                    transition:0.1s all;
                }
            }

            &__action {
                text-align: right;
                &-group {
                    dl {
                        display: flex;
                        justify-content: space-between;
                    }
                    dd {
                        margin-left: 5px;
                        margin-right: 5px;
                        i:nth-child(1) {
                            padding-right: 5px;
                        }
                        span {
                            margin-left: 4px;
                            white-space: nowrap;
                        }
                        time {
                            color: #666;
                            font-size: 14px;
                        }
                    }
                }
            }

        }
    }

}