@mixin content($direction: row, $boxMaxWidth: 360px, $titlePadding: 55px) {
    width: 100%;
    height: auto;
    &__headline {
        width: 100%;
        text-align: center;
        background-color: #F7F8E0;
        &__title {
            color: #696969;
            font-size: 42px;
            font-family: 'M PLUS Rounded 1c', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;
            letter-spacing: 5px;
            text-shadow: 0 0 2px #ccc;
            padding-top: $titlePadding;
            padding-bottom: $titlePadding;
        }
    }
    &__cardbox {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: $direction;
        div {
            max-width: $boxMaxWidth;
        }
    }
}

//Desktop
@include desktop {
    .content {
        @include content();
    }
}

//Tablet
@include tablet {
    .content {
        @include content(column, 100%, 15px);
    }
}

//Mobile
@include mobile {
    .content {
        @include content(column, 100%, 12px);
        &__headline {
            display: none;
        }
    }
}