@mixin tag($display: flex) {
    ul {
        display: $display;
    }
    li {
        list-style-type: none;
        white-space: nowrap;
    }
}

//Desktop
@include desktop {
    .tag {
        @include tag();
    }
}

//Tablet
@include tablet {
    .tag {
        @include tag();
    }
}

//Mobile
@include mobile {
    .tag {
        @include tag();
    }
}