.portfolio {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    &__wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        p {
            position: relative;
        }
    }
}